<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    {{ site.head }}
  </head>
  <body>
    <div class="container">
      <nav class="sidebar">
        <ul>
          <li><a href="/index.html">Home</a></li>
          <!--<li><a href="/about.html">About</a></li>-->
          <li><a href="/contact.html">Contact</a></li>
          <!--<li>
            <details>
              <summary>Blogs</summary>
              <ul>
                <li><a href="/blog1.html">Blog Post 1</a></li>
                <li><a href="/blog2.html">Blog Post 2</a></li>
                <li><a href="/blog3.html">Blog Post 3</a></li>
              </ul>
            </details>
          </li>-->
          <li><a href="/links.html">Links</a></li>
        </ul>
      </nav>
      <main class="content">
        {{ content }}
      </main>
    </div>
  </body>
</html>
